.login-all {
  width: 55vw;
  height: 55vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url(../../assets/LoginVector.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 10;
  transform: translate(50%, 0%);
  transition: all ease 0.5s;
}

.login-title {
}

.btn {
  margin: 20px;
}

.input {
  margin-top: 3%;
  width: 30vw;
  height: 5vh;
  font-size: 15px;
  border: 0;
  border-radius: 10px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(253, 253, 253);
}

.kakao-img {
  width: 30vw;
  height: auto;
  cursor: pointer;
}

.login-text {
  margin: 1%;
  font-size: 20px;
  text-align: left;
}

.line {
  margin: 2%;
  border-right: 1px solid gray;
  width: 30vw;
}

/* .btn {
  position: relative;
  border: none;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: 'paybooc-Light', sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  background-color: aliceblue;
  color: #1e6b7b;
  cursor: auto;
} */

.signup-line {
  display: flex;
  margin-top: 2%;
  text-align: left;
  justify-content: center;
}

.signup-text {
  transform: translate(0%, 30%);
}

.signup-link {
  margin-left: 3vw;
  text-decoration: underline;
  font-family: 'Noto Sans KR';
  text-align: right;
}
