.signup-login-link {
  margin-left: 5%;
}

.signup-login a:link {
  color: rgb(124, 124, 124);
  text-decoration: none;
}
.signup-login a:visited {
  color: rgb(124, 124, 124);
  text-decoration: none;
}
.signup-login a:hover {
  color: bisque;
}
.signup-login a:active {
  color: bisque;
}
